<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manga & Book Inventory</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/books">Books & Manga</a>
    <a href="/genres">Genres</a>
    <a href="/publishers">Publishers</a>
</nav>
